#root {
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
    margin-bottom: 1em;
}

.container {
    width: 90%;
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 3em;
}

.row {
    height: 100%;
    padding-top: 1em;
}

.boxImg {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

h4 {
    margin: 0 auto;
    padding: 2px;
}

.progress {
    width: 70%;
    margin: 0 auto;
}