html, #root {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
    margin-bottom: 1em;
    color: white;
}

.container {
    width: 90%;
    color: white;
    border-radius: 3em;
}

.row {
    height: 100%;
    padding-top: 1em;
}

.boxImg {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

h4 {
    margin: 0 auto;
    padding: 2px;
}

.progress {
    width: 70%;
    margin: 0 auto;
}

.coupon {
    min-height: 5em;
    margin: 0 1em 1em 0;
}

.centered {
    margin: 0 auto;
}

.bgTitanium {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}